@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Rubik:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: aliceblue;
}

.container {
    padding: 10px;
    width: 700px;
    min-height: 600px;
    background-color: #7f8fa6;
    cursor: pointer;


}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images div {
    position: relative;
}

.images div span {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 5px 10px;
}

.model {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    color: #fff;
    display: none;
    place-items: center;



}

.close {
    position: absolute;
    top: 1em;
    right: 1.5em;
    font-size: 25px;
    cursor: pointer;
}

.model-content {
    min-height: 600px;
    display: flex;
    width: 600px;
    flex-direction: column;
    justify-content: center;

}

.model-content img {
    width: 100%;
    object-fit: cover;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.model-content img.show {
    opacity: 1;
}

.model-txt {
    font-size: 20px;
    padding: 10px 5px;

}

.model-nav {
    padding: 10px 5px;
}

.model-nav button {
    padding: 5px;
    width: 50px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-size: 15px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.5s;

}

.model-nav button:hover {
    background-color: #487eb0;
}

.show {
    display: grid;
}